[submodule "plugins/hockey-scoreboard"]
	path = plugins/hockey-scoreboard
	url = https://github.com/ChuckBuilds/ledmatrix-hockey-scoreboard.git
[submodule "plugins/ledmatrix-leaderboard"]
	path = plugins/ledmatrix-leaderboard
	url = https://github.com/ChuckBuilds/ledmatrix-leaderboard
[submodule "plugins/baseball-scoreboard"]
	path = plugins/baseball-scoreboard
	url = https://github.com/ChuckBuilds/ledmatrix-baseball-scoreboard.git
[submodule "plugins/ledmatrix-weather"]
	path = plugins/ledmatrix-weather
	url = https://github.com/ChuckBuilds/ledmatrix-weather
[submodule "plugins/ledmatrix-flights"]
	path = plugins/ledmatrix-flights
	url = https://github.com/ChuckBuilds/ledmatrix-flights.git
[submodule "plugins/football-scoreboard"]
	path = plugins/football-scoreboard
	url = https://github.com/ChuckBuilds/ledmatrix-football-scoreboard.git
