[submodule "plugins/odds-ticker"]
	path = plugins/odds-ticker
	url = https://github.com/ChuckBuilds/ledmatrix-odds-ticker.git
[submodule "plugins/clock-simple"]
	path = plugins/clock-simple
	url = https://github.com/ChuckBuilds/ledmatrix-clock-simple.git
[submodule "plugins/text-display"]
	path = plugins/text-display
	url = https://github.com/ChuckBuilds/ledmatrix-text-display.git
[submodule "rpi-rgb-led-matrix-master"]
	path = rpi-rgb-led-matrix-master
	url = https://github.com/hzeller/rpi-rgb-led-matrix.git
[submodule "plugins/basketball-scoreboard"]
	path = plugins/basketball-scoreboard
	url = https://github.com/ChuckBuilds/ledmatrix-basketball-scoreboard.git
[submodule "plugins/soccer-scoreboard"]
	path = plugins/soccer-scoreboard
	url = https://github.com/ChuckBuilds/ledmatrix-soccer-scoreboard.git
[submodule "plugins/calendar"]
	path = plugins/calendar
	url = https://github.com/ChuckBuilds/ledmatrix-calendar.git
[submodule "plugins/mqtt-notifications"]
	path = plugins/mqtt-notifications
	url = https://github.com/ChuckBuilds/ledmatrix-mqtt-notifications.git
[submodule "plugins/olympics-countdown"]
	path = plugins/olympics-countdown
	url = https://github.com/ChuckBuilds/ledmatrix-olympics-countdown.git
[submodule "plugins/ledmatrix-stocks"]
	path = plugins/ledmatrix-stocks
	url = https://github.com/ChuckBuilds/ledmatrix-stocks.git
[submodule "plugins/ledmatrix-music"]
	path = plugins/ledmatrix-music
	url = https://github.com/ChuckBuilds/ledmatrix-music.git
[submodule "plugins/static-image"]
	path = plugins/static-image
	url = https://github.com/ChuckBuilds/ledmatrix-static-image.git
[submodule "plugins/football-scoreboard"]
	path = plugins/football-scoreboard
	url = https://github.com/ChuckBuilds/ledmatrix-football-scoreboard.git
[submodule "plugins/hockey-scoreboard"]
	path = plugins/hockey-scoreboard
	url = https://github.com/ChuckBuilds/ledmatrix-hockey-scoreboard.git
[submodule "plugins/baseball-scoreboard"]
	path = plugins/baseball-scoreboard
	url = https://github.com/ChuckBuilds/ledmatrix-baseball-scoreboard.git
[submodule "plugins/christmas-countdown"]
	path = plugins/christmas-countdown
	url = https://github.com/ChuckBuilds/ledmatrix-christmas-countdown.git
[submodule "plugins/ledmatrix-flights"]
	path = plugins/ledmatrix-flights
	url = https://github.com/ChuckBuilds/ledmatrix-flights.git
[submodule "plugins/ledmatrix-leaderboard"]
	path = plugins/ledmatrix-leaderboard
	url = https://github.com/ChuckBuilds/ledmatrix-leaderboard.git
[submodule "plugins/ledmatrix-weather"]
	path = plugins/ledmatrix-weather
	url = https://github.com/ChuckBuilds/ledmatrix-weather.git
[submodule "plugins/ledmatrix-news"]
	path = plugins/ledmatrix-news
	url = https://github.com/ChuckBuilds/ledmatrix-news.git
[submodule "plugins/ledmatrix-of-the-day"]
	path = plugins/ledmatrix-of-the-day
	url = https://github.com/ChuckBuilds/ledmatrix-of-the-day.git
[submodule "plugins/youtube-stats"]
	path = plugins/youtube-stats
	url = https://github.com/ChuckBuilds/ledmatrix-youtube-stats.git
